header {
    height: 13vh;
    opacity: 1;
    position:  sticky;
    top: 0;
    background-color: rgb(48, 48, 48);
    z-index: 100;
}
.header__div {
    position: absolute;
}
.right__header__container {
    display: flex;
    float: right;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 49%;
    gap: 2vw;
}
.left__header__container {
    display: flex;
    float: left;
    height: 100%;
    width: 27%;
    justify-content: center;
}
a {
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    color: rgb(192, 192, 192);
    transition-duration: 0.2s;
    font-size: 120%;
}
a:hover {
    color: white;
}
.logo {
    scale: 0.9;
}
.container {
    display: inline-block;
    margin: 0 auto;
    width: 1280px;
}
.section__1__right__container {
    display: flex;
    float: right;
    height: 100%;
    width: 50%;
}
.section__1__left__container {
    display: flex;
    float: left;
    height: 100%;
    width: 49%;
    flex-direction: column;
    justify-content: center;
    padding-left: 8vw;
}
.bgimg1 {
    width: 690px;
    height: 900px;
}
.section__1 {
    background-color: black;
    height: 110vh;
}
h1 {
    font-family: "Roboto", sans-serif;
    color: rgb(255, 197, 91);
    font-size: 470%;
    font-weight: 600;
    transition-duration: 0.3s;
}
h2 {
    font-family: "Roboto", sans-serif;
    color: rgb(151, 151, 151);
    font-size: 100%;
    font-weight: 400;
}
.filler {
    height: 43vh;
    background-color: black;
}
.section__2 {
    background-color: black;
    height: 100vh;
}
h3 {
    font-size: 250%;
    height: 400px;
    color: white;
    font-weight: 300;
}
.sec2__h3__line {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    margin-bottom: 10vh;
}
.section__2__line {
    width: 7vw;
    border: 1px solid rgb(255, 197, 91);
}
.section2__cards__container__flex {
    display: flex;
    justify-content: space-around;
    padding-top: 3vh;
}
.card__top {
    width: 300px;
    overflow: hidden;
    position: relative;
    height: 225px;
}
.card__bottom {
    width: 300px;
    padding-top: 3vh;
}
.card1__img {
    width: 300px;
    height: 225px;
    transition-duration: 0.3s;
    position: absolute;
}
.card1__img:hover {
    scale: 1.2;
}
h4 {
    color: white;
    font-weight: 200;
}
h5 {
    color: rgb(138, 138, 138);
    font-weight: 200;
    font-size: 100%;
}
.card__date {
    position: absolute;
    z-index: 50;
    background-color: rgb(255, 197, 91);
    width: 50px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-100%, -100%);
    top: 100%;
    left: 100%;
}
h6 {
    font-weight: 200;
    margin: 0;
}
.section__3 {
    height: 250vh;
    background-color: black;
}
.sec3__first__container__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50vh;
    justify-content: center;
}
.sec3__h2 {
    text-align: center;
    color: rgb(230, 230, 230);
}
.section__3__line {
    width: 80px;
    border: 1px solid rgb(255, 197, 91);
}
.sec3__second__container__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    padding-bottom: 20vh;
}
.singers {
    max-width: 900px;
    margin: 0 auto;
}
.singer__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 50px;
    column-gap: 50px;
}
.singer__card1 {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}
.singer1__img {
    width: 400px;
    height: 400px;
    transition-duration: 0.3s;
    position: absolute;
}
.singer__card1:hover .singer1__img {
    scale: 1.1;
    filter: grayscale(100%);
}
.singer__card__h1 {
    position: absolute;
    font-size: 200%;
    font-weight: 300;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    color: rgb(255, 184, 53);
    display: none;
    transition-duration: 0.3s;
}
.singer__card__h1:hover {
    display: block;
    top: 30%;
}
.singer__card__h2 {
    position: absolute;
    font-size: 120%;
    font-weight: 300;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 65%;
    height: 40px;
    color: rgb(255, 184, 53);
    display: none;
    transition-duration: 0.3s;
}
.singer__card1:hover .singer__card__h1 {
    display: block;
    top: 30%;
}
.singer__card1:hover .singer__card__h2 {
    display: block;
    top: 50%;
}
.damaluli {
    opacity: 0;
    transition: 0.6s;
    filter: blur(5px);
    transform: translateY(30%);
}
.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0%);
}
.section2__second__card {
    transition-delay: 0.2s;
}
.section2__third__card {
    transition-delay: 0.4s;
}
.section2__fourth__card {
    transition-delay: 0.8s;
}
.section__4 {
    height: 100vh;
    background-color: black;
}
.section4__h3__line {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70px;
    margin-bottom: 15vh;
}
.section4__line {
    width: 60px;
    border: 1px solid rgb(255, 197, 91);
}
#section4__carousel {
    width: 90vw;
}
.section4__carousel__center {
    display: flex;
    justify-content: center;
}
.owl-theme .owl-dots .owl-dot span {
    background-color: rgb(97, 97, 97);
}
.owl-theme .owl-dots .owl-dot.active span {
    background-color: rgb(255, 184, 53);
}
.section5__left__container {
    display: inline-flex;
    width: 50%;
    height: 75vh;
    background-color: rgb(0, 0, 0);
    vertical-align: top;
    justify-content: flex-end;
}
.section5__right__container {
    display: inline-block;
    width: 50%;
    height: 75vh;
    background-color: rgb(0, 0, 0);
    vertical-align: top;
    padding-left: 3vw;
    padding-right: 5vw;
}
.section5__h2 {
    color: white;
    font-size: 250%;
    font-weight: 300;
}
.section5__h3 {
    color: gray;
    font-weight: 400;
    font-size: 120%;
    height: 150px;
}
.section__5 {
    background-color: black;
}
footer {
    height: 50vh;
    background-color: rgb(34, 34, 34);
}
.navigation {
    height: 50vh;
    width: 33%;
    background-color: rgb(34, 34, 34);
    padding-left: 10%;
    padding-top: 5vh;
}
.aboutus {
    height: 50vh;
    width: 34%;
    background-color: rgb(34, 34, 34);
    padding-left: 7%;
    padding-top: 5vh;
}
.followus {
    height: 50vh;
    width: 33%;
    background-color: rgb(34, 34, 34);
    padding-top: 5vh;
    padding-left: 4%;
}
.nav__h1 {
    color: white;
    font-size: 120%;
    font-weight: 300;
}
.nav__line {
    width: 50px;
    border: 1px solid rgb(255, 197, 91);
    margin-bottom: 40px;
}
.aboutus__h2 {
    line-height: 25px;
}
.fa-brands {
    margin-right: 20px;
}
.footer__flex {
    display: flex;
}
.copyright__h2 {
    color: rgb(148, 148, 148);
    text-align: center;
}
.copyright {
    background-color: rgb(34, 34, 34);
    height: 15vh;
}